$primary-color: #333;
$secondary-color: #5c4b36;
$text-color: #4d3922;
$background-color: #e0ceb8;

$link-color: #d18a32;

// Colors

$white: #e0ceb8 !default;
$grey-dk-000: #4d3922 !default;
$grey-dk-100: #4d3922 !default;
$grey-dk-200: #4d3922 !default;
$grey-dk-250: #4d3922 !default;
$grey-dk-300: #4d3922 !default;
$grey-lt-000: #4d3922 !default;
$grey-lt-100: #4d3922 !default;
$grey-lt-200: #4d3922 !default;
$grey-lt-300: #4d3922 !default;
$purple-000: #7253ed !default;
$purple-100: #5e41d0 !default;
$purple-200: #4e26af !default;
$purple-300: #381885 !default;
$blue-000: #2c84fa !default;
$blue-100: #2869e6 !default;
$blue-200: #264caf !default;
$blue-300: #183385 !default;
$green-000: #41d693 !default;
$green-100: #11b584 !default;
$green-200: #009c7b !default;
$green-300: #026e57 !default;
$yellow-000: #ffeb82 !default;
$yellow-100: #fadf50 !default;
$yellow-200: #f7d12e !default;
$yellow-300: #e7af06 !default;
$red-000: #f77e7e !default;
$red-100: #f96e65 !default;
$red-200: #e94c4c !default;
$red-300: #dd2e2e !default;
