$body-background-color: #e0ceb8;
$body-heading-color: #333;
$body-text-color: #4d3922;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: #333;
$base-button-color: #f7f7f7;
$btn-primary-color: $purple-100;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;

$primary-color: #333;
$secondary-color: #5c4b36;
$text-color: #4d3922;
$background-color: #e0ceb8;

$link-color: #d18a32;
